<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59099902769-do810694is65oru4kaonqlb82enkvl92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59099902769-do810694is65oru4kaonqlb82enkvl92</string>
	<key>API_KEY</key>
	<string>AIzaSyC-O1uhVfd4b3Ilg8Du2Cra7ZImAObYiuM</string>
	<key>GCM_SENDER_ID</key>
	<string>59099902769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JD.Landmark-Remark</string>
	<key>PROJECT_ID</key>
	<string>landmark-remark-bf8c8</string>
	<key>STORAGE_BUCKET</key>
	<string>landmark-remark-bf8c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59099902769:ios:16bd1acc3850d4425df610</string>
	<key>DATABASE_URL</key>
	<string>https://landmark-remark-bf8c8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>